.Energy {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100vw;
  background-color: #ffffff;
  padding: 10vh;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.products {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1rem;
  border-color: transparent #c4c2c2 transparent transparent;
}

.energy-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
  width: 100%;
}

.energy-product-image {
  display: flex;
  height: 12rem;
  width: 10rem;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.product:hover .product-image {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.energy-product-name {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 700;
}

.energy-button {
  background: transparent;
  margin: 0;
  cursor: pointer;
  font-weight: 200;
  font-size: 0.9rem;
  border: solid 2px;
  border-color: transparent transparent #929292 transparent;
}

.energy-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  font-size: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}

.options > span {
  margin-bottom: 0.5rem;
}

/* .products::after {
  content: "";
  align-items: end;
  margin-right: none;
  border-left: 1px solid #000;
  height: 80%; 
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: 1vw;
  z-index: -100;
} */

.show-Account {
  color: #171a20;
  border: 2px solid #171a20;
}

.show-Energy {
  color: #171a20;
  z-index: 100;
}

.products-vertical {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: auto;
}

/* Adjust the minmax values and gap based on your design */
@media screen and (min-width: 600px) {
  .products-vertical {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* @media screen and (min-width: 900px) {
  .products-vertical {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */
.list-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 3vh;
  margin-left: 5vw;
  margin-bottom: 3vh;
}
.list-vertical > span {
  margin-top: 3vh;
  margin-left: 5vw;
  font-weight: bold;
}

.header-energy {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.back-arrow {
  margin-left: 2vw;
  cursor: pointer;
}
.title-energy {
  margin-left: auto;
}
.close-icon {
  margin-left: auto;
  margin-right: 2vw;
  cursor: pointer;
}

.product-vertical {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.energy-vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  width: 100%;
  background-color: #f2f2f2;
}
