.homepage-section {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  align-items: center;

  background: linear-gradient(
    180deg,
    #80808a 0%,
    #040e42 40%,
    #040e42 70%,
    #80808a 120%
  );
}

.intro-section > span {
  display: flex;
  flex-direction: column;
  font-size: 7vw;
  color: #ffffff;
  font-weight: bolder;
  font-family: Inter;
  align-items: center;
  justify-content: center;
  width: 90vw;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .intro-section > span {
    font-size: 10dvh;
  }
}

@media screen and (max-width: 600px) {
  .intro-section > span {
    font-size: 7dvh;
  }
}
