.Constructions {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100vw;
  background-color: #ffffff;
  padding-top: 10vh;
  justify-content: center;
}

.Cproduct-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Cproducts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: none;
  margin-top: none;
}
.name {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 0.75rem;
}

.Cproduct {
  padding: 1vw;
}

.Cproduct > img {
  width: 10vw;
}

.Coptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: none;
  margin-left: none;
  margin-right: none;
  font-size: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Coptions > span {
  margin-bottom: 0.5rem;
}

.Cproducts::after {
  content: "";
  align-items: end;
  margin-right: none;
  border-left: 2px solid #000; /* Set the color of the vertical line */
  height: 60%; /* Adjust the height of the vertical line */
  margin-top: 20px;
  margin-left: 1vw;
  margin-bottom: 20px;
  margin-right: 1vw; /* Adjust the margin of the vertical line */
}

.show-Account {
  color: #171a20;
  border: 2px solid #171a20;
}

.show-Energy {
  color: #171a20;
}

.Construction-vertical{
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  width: 100%;
  background-color: #F2F2F2;
}

.Cproduct-vertical{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.Cproducts-vertical {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: auto;
}

/* Adjust the minmax values and gap based on your design */
@media screen and (max-width: 600px) {
  .Cproducts-vertical {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .c-span{
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 5vw;
    font-weight: bold;
  }
}