.account-details-form {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
   
  
  }

  .homeN{
  text-align: left;
  font-weight:500;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  }
  .order-summery {
    text-align: center;
  }
  
  .upper-container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-right:0;
    align-items: center; /* Center the content horizontally */
    margin-top: 0;
    /* border:solid 2px black; */
    
    background-color: rgba(255, 255, 255);
  }
  h2 {
    font-family: 'Inter', sans-serif; 
    font-weight: 600; /* Adjust the font weight (e.g., 600 for semi-bold) */
    font-size: 32px; /* Set the font size to 64 pixels */
    margin-bottom: 35px;
  }
  
  label {
    font-family: 'Inter', sans-serif; /* Use the 'Inter' font, fallback to a sans-serif font */
    display: block;
  
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  input {
    
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    background-color:rgb(204, 203, 203); /* Set background color to grey */
  }
  
  
  .agreement-statementO {
    margin-top: 15px; 
    text-align: left; 
    margin-bottom: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  
  .agreement-statement p {
    margin: 0; 
    line-height: 1.5; 
    color: #555; 
  }
  
 

.image-container {
    display:flex;
  }
  
  .image {
    width: 70%; 
    height: 25%;
    border-radius:30px;
    margin-top: 50px;
    margin-left: 70px; 
  }
  .power-up{
    text-align:center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-bottom: 30px;
    font-size:32px;
    font-family:'Inter',sans-serif;}

  .main-container {
    width: 50%;
  margin-right: 30px;
  border:solid 2px black;
  
 }

  .cproduct{

    font-weight: 400;
    font-family: 'Inter',sans-serif;
    font-size: 32px;
    margin-bottom: 20px; 
    
      
  }

  .help-text{
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .product-image{
    border-radius: 25px;
    margin-top: 15px;
  }


  .product-name {
    text-align: left; 
    font-weight:600; 
    margin-top: 10px; 
  }
  
  .nextB {
   
    background-color: rgba(51, 75, 161, 1); 
    color: white; 
    padding: 10px 20px; 
  
    /* Hover effect styles */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .nextB:hover {
    background-color: rgb(69, 73, 87); /* Change the background color on hover */
  }
  

  .help-text a {
    color: blue; /* Set the text color to blue */
    text-decoration: underline; /* Add an underline */
  }
  .energy-order-buttonB {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 40px;
    padding: 10px;
    background-color: rgb(10, 64, 145);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    align-self: center;
    margin-left: 70px;
    margin-top: 25px; 
    font-size: 14px;
    transition: background-color 0.3s; /* Add a smooth transition effect for the background color */
  }
  
  .energy-order-buttonB:hover {
    background-color: rgba(111, 112, 113, 0.8); /* Change the background color on hover */
  }
  
  .product-image {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease; 
  }
  
  .product-image:hover {
    transform: scale(0.9); }
    @media screen and (max-width: 768px) {
      .account-details-form,
      .upper-container,
      .main-container {
        max-width: 100%;
        margin: 0;
        padding: 0;
      }
    
      .main-container {
        width: 100%;
        border: 2px black;
      }
    
      .upper-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
      }
    
      .image-container {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin: 0; /* Reset margin */
        padding: 0; /* Reset padding */
      }
      .power-up{
        margin-left: -30px;
      }
    }
    
    @media screen and (max-width: 1200px) {
      .account-details-form,
      .upper-container,
      .main-container {
        max-width: 100%;
      }
    
      .main-container {
        margin-right: 0;
        width: 100%;
      }
    
      .upper-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
    
      .image-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0; /* Reset margin */
        padding: 0; /* Reset padding */
      }
    }
    