.menu-icon {
    background: #fff;
    width: 3.5rem;
    padding: 15px 10px;
    position: absolute;
    height: auto;
    border-radius: 0 25px 25px 0;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    
    z-index: 999;
}

.menu-icon div {
    height: 2px;
    background: rgb(10, 10, 10);
    border-radius: 3px;
    margin: 2px 0;
    width: 1.5rem;
}

.Nav {
    background: transparent;
    position: fixed;
    
    top:2rem;
    left: 0;
    width: auto; /* Make sure it spans the full width if needed */
    z-index: 998; /* Lower than menu-icon */
}
.navibuttons-vertical:hover{
    background: #6c6868;
}
.navibuttons-vertical{
    display: flex;
 margin-bottom: 10px;
 cursor: pointer;
 align-items: center;
 padding: 3px;
 border-radius: 10px;
}

.navButtons {
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixed positioning */
    top: 10; /* Align to the top */
    left: 0; /* Start from the left edge */
    margin-top: 1rem;
    padding: 2rem;
    width: auto;
    height: 100vh;
    background: #fff;
    border: 1px solid;
    border-radius: 0px 20px 20px 0;
    transform: translateX(-100%); /* Hide off-screen initially */
    transition: transform 1s ease-in-out; /* Correct transition time */
}

.navButtons-active {
    transform: translateX(0); /* Slide in */
}

.dropdown-v{
    width: auto;
    height: 60vh;
}
.vertical-dropdown{
    display: flex;
    margin-left: 10rem;
    width: 100%;
    
}

@media screen and (min-width: 1000px) {
    .Nav {
        display: none;
    }
}