.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  
  
  
}

.contentTitle {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding-top:8vh;
  align-items: center;

  background: linear-gradient(
    180deg,
    #80808a 0%,
    #040e42 40%,
    #040e42 70%,
    #80808a 120%
  );
}

.contentTitle > span {
  display: flex;
  flex-direction: column;
  font-size: 7vw;
  color: #ffffff;
  font-weight: bolder;
  font-family: Inter;
  align-items: center;
  justify-content: center;
  width: 90vw;
  overflow: hidden;
}
/* .contentTitle > span.animating {
  animation: typingAnimation 9s steps(40, end) infinite; 
}

@keyframes typingAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

.SolarButtons {
  margin-top: 4rem;
  
}
.SButton1 {
  background-color: #040e42;
  color: #ffffff;
  height: 2rem;
  width: 8rem;
  border-radius: 15px;
  margin-right: 20vw;
  cursor: pointer;
  border: none;
}
.SButton2 {
  cursor: pointer;
  background-color: #ffffff;
  color: #040e42;
  height: 2rem;
  width: 8rem;
  border-radius: 15px;
  border: none;
}
.SButton1:hover {
  background-color: #1c2636;
}

.SButton2:hover {
  background-color: #80808a;
}

.CButton1:hover {
  background-color: #1c2636;
}

.CButton2:hover {
  background-color: #80808a;
}

.CButton1 {
  background-color: #040e42;
  color: #ffffff;
  height: 2rem;
  width: 8rem;
  border-radius: 15px;
  margin-right: 20vw;
  cursor: pointer;
  border: none;
}

.CButton2 {
  cursor: pointer;
  background-color: #ffffff;
  color: #040e42;
  height: 2rem;
  width: 8rem;
  border-radius: 15px;
  border: none;
}

.SolarTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.SolarTitle > span {
  font-weight: bold;
  color: #081c3a;
  font-size: 5vw;
  
}

.contentSolar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  /* width: 100%; */
  background-size: 100vw 50vw;
  
  
}

.contentConstruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: 100vw 50vw;
  margin-bottom: 1px;
}

.ConstructionTitle {
  padding-top: 15vw;
  color: #ffffff;
  font-weight: bold;
  font-size: 5vw;
}

.ConstructionButtons {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 100%;
    height: 100%;
  }

  .contentTitle {
    scroll-snap-align: center;
    justify-content: center;
    align-items: center;
    /* padding-top: none; */
    /* padding:10vh; */
    height: 100vh;
    /* padding-bottom: 15vh; */
    background: linear-gradient(180deg, #040e42 30%, #80808a 70%);
  }

  .contentSolar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100vw 100vh;
    width: 100%;
    /* padding-top: 10vh;
    padding-bottom: 10vh; */
    padding-right: none;
    scroll-snap-align: start;
  }
  .SolarButtons {
    margin-top: 4rem;
  }
  .SButton1 {
    background-color: #040e42;
    color: #ffffff;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
    margin-right: 15vw;
    cursor: pointer;
  }
  .SButton2 {
    cursor: pointer;
    background-color: #ffffff;
    color: #040e42;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
  }
  /* .SolarTitle {
    padding-top: 6vh;
  } */

  .SolarTitle > span {
    font-weight: bold;
    color: #081c3a;
    font-size: 3rem;
  }

  .contentConstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 100vw 100vh;
    width: 100%;
    /* padding-top: 10vh;
    padding-bottom: 10vh; */
  }
  .ConstructionTitle {
    padding-top: 5vh;
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
  }

  .ConstructionButtons {
    margin-bottom: 4rem;
    margin-top: 4vh;
  }
  .CButton1 {
    background-color: #040e42;
    color: #ffffff;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
    margin-right: 10vw;
    cursor: pointer;
  }

  .CButton2 {
    cursor: pointer;
    background-color: #ffffff;
    color: #040e42;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
  }
}

@media screen and (max-width: 500px) {
  .contentSolar{
    
    background-size: 80vh 100vh;
    height: 100vh;
  }
  .contentConstruction{
    background-size: 80vh 100vh;
    height: 100vh;
  }
  .contentTitle > span {
  display: flex;
  flex-direction: column;
  font-size: 7vh;
  color: #ffffff;
  font-weight: bolder;
  font-family: Inter;
  align-items: center;
  justify-content: center;
  width: 90vw;
  overflow: hidden;
}
  .contentTitle {
    justify-content: flex-start;
    padding-top: 15vh;
  }
}