.home {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
}

.home::-webkit-scrollbar {
  display: none;
}

.intro {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: #040e42;
}

.introImage {
  display: flex;
  height: 90vh;
}

@keyframes blink-scale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
