.home {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
}

.home::-webkit-scrollbar {
  display: none;
}

.intro {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); */
  gap: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #040e42;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.introImage {
  display: flex;
  height: 90vh;
}

@keyframes blink-scale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* @media screen and (max-width: 1280px) {
  .intro {
    grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
  }
} */
