.home {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  /* scroll-snap-type: y mandatory; */
  height: 100dvh;
  width: 100%;
  -ms-overflow-style: none;
}

.home::-webkit-scrollbar {
  display: none;
}
