.shop {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100vw;
  background-color: #ffffff;
  padding-top: 5vh;
  justify-content: center;
}
.shop-products {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.shop-product > img {
  width: 230px;
  height: 180px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.shop-item-name {
  font-weight: bold;
  padding-top: 1rem;
}

.Sproduct01-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.Sproduct01-v > img {
  width: 50vw;
}

.arrow-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.arrow-button > button {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* .show-Account {
  color: #171a20;
  border: 2px solid #171a20;
}

.show-Content {
  color: #171a20;
} */

.ShopVertical {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  width: 100vw;
  background-color: #f2f2f2;
  height: 100%;
  z-index: 9999;
}
.ShopProducts-vertical {
  /* margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media screen and (max-width: 600px) {
  .ShopProducts-vertical {
    /* margin-right: 5vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Sproduct01-v {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
}