.container-sheduletime {
    margin-top: 50px;
    margin-left:50px;
  }
  
  .container-form {
    margin-left:  150px; 
    margin-top: 50px;
  }

  .bold-text {
    font-weight: bold;
  }
  

  @media (max-width: 768px) {
    .container-sheduletime {
        margin-top: 50px;
        margin-left:0px;
        width:300px;
      }
      
      .container-form {
        margin-left:  100px; 
        margin-top: 50px;
      }

  }
  