.middle-container {
    width:100%;
    display: flex;
    margin-top: 150px; /* Use flexbox to make the containers inline */
  }
  
  .ImageA-container,
  .textA-container {
    width:50%; /* Equal width for both containers */
  }

  .ImageA-container {
    width:50%;

  }
  
  .textA-container {
    margin-right: 10px;
    margin-top:100px;
    width:60%;
    margin-left: 100px;
   /* Example background color */
    /* Add other styles as needed */
  }
  .learnmore-solar{

    margin-top:60px;
    margin-left:100px;
    margin-bottom: 100px;
    width:400px;
    height: 350px;
    transition: transform 0.3s ease;
    
   
  }

  .learnmore-solar:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }

  .experienceAA{
    font-size: 32px;
    font-weight: 540;
    font-family: "Convergence", sans-serif;
    transition: color 0.3s ease; /* Add transition effect for color */
  }
  
  .experienceB:hover {
    background-color: rgb(238, 241, 156); 
  }
  
  .bottom-para {
    text-align: center;
    font-size: 18px;
    font-weight: 540;
    font-family: "Convergence", sans-serif;
    color: rgb(9, 9, 110);
    margin: 30px;
    transition: font-size 0.3s ease ;
  }
  
  .bottom-para:hover {
    font-size: 20px; /* Adjust the zoomed font size as needed */
  }
  

  .bottom-containerN{
    display:flex;
    width:100%;
    margin-top: 40px;
    padding: 50px;
   
    

  }
  .cost-containerN,
  .efficient-containerN,
  .longlife-containerN{
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 15px;
    
    display: inline-block;
    margin-top: 20px;
    padding:20px;
    margin-bottom: 60px;
    background-color: rgb(244, 244, 241);
    width: 40%;
    overflow: auto;

  }


  .experienceB{
    transition: color 0.3s ease; /* Add transition effect for color */
}

.experienceB:hover {
  background-color: rgb(238, 241, 156); 
}
  

  .cost-container{
   margin-left:10%;
  }
  .efficient-container{
    margin-left:10%;

  }
  .longlife-container{
    margin-left:10%;
   
  }


  .headof-benifits{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
   
   text-align: center;
   


  }
  .eco-friently{
    font-family:"Convergence", sans-serif;
    color: rgb(182, 147, 6);
    font-size: 22px;
    margin-top: 20px;
    text-align: center;

  }
  .eco-friently-parah{
    text-align: center;
  }


   .past-project-head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-left: 600px;
   
   }
   .cons-image1 {
    height: 200px;
    width:200px;
    display :block;
    margin: auto;
    transition: transform 0.3s ease;
  }
  
  .cons-image1:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }
  

  .cons-image2 {
    transition: transform 0.3s ease;
    width:200px;
    height:200px;
    display :block;
    margin: auto;
  }
  
  .cons-image2:hover  {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }

  
  .learnmore-solar3 {
    width:200px;
    height:200px;
    transition: transform 0.3s ease;
    display :block;
    margin: auto;
  }
  
  .learnmore-solar3:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }
  @media only screen and (max-width: 798px) {
    .middle-container {
      flex-direction: column; /* Stack containers vertically on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
      margin-top: 50px; /* Adjust margin for smaller screens */
    }
  
    .ImageA-container,
    .textA-container {
      width: 100%; /* Full width for both containers on smaller screens */
      margin: 0; /* Remove margin for smaller screens */
    }
  
    .textA-container {
      margin-top: 30px; /* Adjust margin for smaller screens */
      margin-left: 0; /* Remove left margin for smaller screens */
      text-align: center; /* Center text on smaller screens */
    }
  
    .learnmore-solar {
      margin: 30px 0;
      width:250px;
      height:200px; /* Adjust margin for smaller screens */
    }
  
    .experienceAA {
      font-size: 20px; 
     /* Decrease font size for smaller screens */
    }
  
    .bottom-containerN {
      flex-direction: column; /* Stack containers vertically on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
    }
  
   
    .past-project-head {
      margin-left: 0; /* Remove left margin for smaller screens */
      text-align: center; /* Center text on smaller screens */
    }
  
    .cons-image1 {
      
      display :block;
      margin: auto;
      transition: transform 0.3s ease;
    }
    
    .cons-image1:hover {
      transform: scale(1.05); /* Increase the scale to zoom in */
    }
    
  
    .cons-image2 {
      transition: transform 0.3s ease;
     
      
      display :block;
      margin: auto;
    }
    
    .cons-image2:hover  {
      transform: scale(1.05); /* Increase the scale to zoom in */
    }
  
    
    .learnmore-solar3 {
      
      
      transition: transform 0.3s ease;
      display :block;
      margin: auto;
    }
    
    .learnmore-solar3:hover {
      transform: scale(1.05); /* Increase the scale to zoom in */
    }

    .experienceB{
      font-size: 13px;
      margin-top: 40px;
    }

    .headof-benifits{
      font-size: 22px;
      margin: 30px 0;
    }

    .eco-friently-parah{
      font-size: 13px;
    }
    .eco-friently{
      font-size: 16px;
    }
    .cost-containerN,
    .efficient-containerN,
    .longlife-containerN{
      width:60%;
      padding: 20px;
    
      
    }



  }
  

 

 
  

  @media only screen and (max-width: 950px){
    
  
    .cons-image1,
    .cons-image2,
    .learnmore-solar3 {
      width: 150px; /* Set width for images on smaller screens */
     height: 150px;
     object-fit: fill;
     align-items: center;
     margin-top: 20px;
    }
  .eco-friently{
    font-size: 14px;
  }
  .eco-friently-parah{
    font-size: 15px;
  }
  
  .learnmore-solar {
    margin-left: 30px;
    width:350px;
    height:300px; /* Adjust margin for smaller screens */
  }
  
  
  .experienceAA {
    font-size: 24px; 
   /* Decrease font size for smaller screens */
  }
  
  .experienceB{
    font-size: 14px;
    margin-top: 40px;
  }
  
  .cost-containerN,
    .efficient-containerN,
    .longlife-containerN {
     margin :30px;
      padding: 5px;
      flex: 1;
     
    }
    .eco-friently-parah{
      font-size: 13px;
    }
  }
  
 
 
  
  @media only screen and (max-width: 850px){
   
    .cons-image1,
    .cons-image2,
    .learnmore-solar3 {
      width: 150px; /* Set width for images on smaller screens */
     height: 150px;
     object-fit: fill;
     align-items: center;
     margin-top: 20px;
    }
  .eco-friently-parah{
    font-size: 13px;
  }
  
  .learnmore-solar {
    margin-left: 30px;
    width:350px;
    height:300px; /* Adjust margin for smaller screens */
  }
  
  
  .eco-friently{
    font-size: 14px;
  }
  .experienceAA {
    font-size: 24px; 
   /* Decrease font size for smaller screens */
  }
  
  .experienceB{
    font-size: 14px;
    margin-top: 40px;
  }
  
  .cost-containerN,
    .efficient-containerN,
    .longlife-containerN {
      margin:40px;
      padding: 5px;
      flex: 1;
     
    }
  }

@media only screen and (max-width: 1200px){
 




.learnmore-solar {
  margin-left: 30px;
  width:350px;
  height:300px; /* Adjust margin for smaller screens */
}

.eco-friently-parah{
  font-size: 13px;
}

.experienceAA {
  font-size: 24px; 
 /* Decrease font size for smaller screens */
}

.experienceB{
  font-size: 14px;
  margin-top: 40px;
}

.cost-containerN,
  .efficient-containerN,
  .longlife-containerN {
   
    padding: 5px;
    flex: 1;
   
  }
}


@media only screen and (max-width: 1050px){
  


.learnmore-solar {
  margin-left: 30px;
  width:350px;
  height:300px; /* Adjust margin for smaller screens */
}

.eco-friently-parah{
  font-size: 13px;
}

.experienceAA {
  font-size: 24px; 
 /* Decrease font size for smaller screens */
}

.experienceB{
  font-size: 14px;
  margin-top: 50px;
}

.cost-containerN,
  .efficient-containerN,
  .longlife-containerN {
   margin:40px;
    padding: 5px;
    flex: 1;
   
  }
}


@media only screen and (max-width: 1300px){
  




.learnmore-solar {
  margin-left: 30px;
  width:350px;
  height:300px; /* Adjust margin for smaller screens */
}


.experienceAA {
  font-size: 24px; 
 /* Decrease font size for smaller screens */
}

.experienceB{
  font-size: 14px;
  margin-top: 40px;
}

  .cost-containerN,
  .efficient-containerN,
  .longlife-containerN {
  
    width: 60%;
    height:min-content;
    padding: 20px;
    flex: 1;
   
  }
}
 
