.middle-container {
    width:100%;
    display: flex;
    margin-top: 150px; /* Use flexbox to make the containers inline */
  }
  
  .ImageA-container,
  .textA-container {
    width:50%; /* Equal width for both containers */
  }

  .ImageA-container {
    width:50%;

  }
  
  .textA-container {
    margin-right: 10px;
    margin-top:100px;
    width:60%;
    margin-left: 100px;
   /* Example background color */
    /* Add other styles as needed */
  }
  .learnmore-solar{

    margin-top:60px;
    margin-left:100px;
    margin-bottom: 100px;
    width:400px;
    height: 350px;
    transition: transform 0.3s ease;
    
   
  }

  .learnmore-solar:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }

  .experienceAA{
    font-size: 32px;
    font-weight: 540;
    font-family: "Convergence", sans-serif;
  }
  
  .bottom-para {
    text-align: center;
    font-size: 18px;
    font-weight: 540;
    font-family: "Convergence", sans-serif;
    color: rgb(9, 9, 110);
    margin: 30px;
    transition: font-size 0.3s ease ;
  }
  
  .bottom-para:hover {
    font-size: 20px; /* Adjust the zoomed font size as needed */
  }
  

  .bottom-container{
    display:flex;
    width:100%;
    margin-top: 40px;
    

  }
  .cost-container,
  .efficient-container,
  .longlife-container{
    border-radius: 15px;
    width: 20%;
    border:solid 1px rgb(153, 150, 150);
    display: inline-block;
    margin-top: 20px;
    padding:30px;
    margin-bottom: 60px;

  }


  .experienceB{
    transition: color 0.3s ease; /* Add transition effect for color */
}

.experienceB:hover {
  background-color: rgb(238, 241, 156); 
}
  

  .cost-container{
   margin-left:10%;
  }
  .efficient-container{
    margin-left:10%;

  }
  .longlife-container{
    margin-left:10%;
   
  }


  .headof-benifits{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
   
   text-align: center;
   


  }
  .eco-friently{
    font-family:"Convergence", sans-serif;
    color: rgb(182, 147, 6);
    font-size: 22px;
    margin-top: 20px;
    text-align: center;

  }
  .eco-friently-parah{
    text-align: center;
  }


   .past-project-head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-left: 600px;
   
   }
   .cons-image1 {
    height: 250px;
    width:300px;
    transition: transform 0.3s ease;
  }
  
  .cons-image1:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }
  

  .cons-image2 {
    transition: transform 0.3s ease;
    width:300px;
    height:250px;
  }
  
  .cons-image2:hover  {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }

  
  .learnmore-solar3 {
    width:300px;
    height:250px;
    transition: transform 0.3s ease;
  }
  
  .learnmore-solar3:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }
  @media only screen and (max-width: 798px) {
    .middle-container {
      flex-direction: column; /* Stack containers vertically on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
      margin-top: 50px; /* Adjust margin for smaller screens */
    }
  
    .ImageA-container,
    .textA-container {
      width: 100%; /* Full width for both containers on smaller screens */
      margin: 0; /* Remove margin for smaller screens */
    }
  
    .textA-container {
      margin-top: 30px; /* Adjust margin for smaller screens */
      margin-left: 0; /* Remove left margin for smaller screens */
      text-align: center; /* Center text on smaller screens */
    }
  
    .learnmore-solar {
      margin: 30px 0;
      width:250px;
      height:200px; /* Adjust margin for smaller screens */
    }
  
    .experienceAA {
      font-size: 20px; 
     /* Decrease font size for smaller screens */
    }
  
    .bottom-container {
      flex-direction: column; /* Stack containers vertically on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
    }
  
   
    .past-project-head {
      margin-left: 0; /* Remove left margin for smaller screens */
      text-align: center; /* Center text on smaller screens */
    }
  
    .cons-image1,
    .cons-image2,
    .learnmore-solar3 {
      width: 80%; /* Set width for images on smaller screens */
      height: 70%; /* Set height for images on smaller screens */
      margin: 0 auto; /* Center the images horizontally within their containers */
   
     
      /* Adjust margin for smaller screens */
    }

    .experienceB{
      font-size: 13px;
      margin-top: 40px;
    }

    .headof-benifits{
      font-size: 22px;
      margin: 30px 0;
    }

    .eco-friently-parah{
      font-size: 13px;
    }
    .eco-friently{
      font-size: 16px;
    }
    .cost-container,
    .efficient-container,
    .longlife-container {
      width: 45%; /* Full width for benefit containers on smaller screens */
      align-content: center;/* Remove left margin for smaller screens */
    }
  }
  

  @media only screen and (max-width: 1200px){
    .cons-image1,
    .cons-image2,
    .learnmore-solar3 {
      width: 200px; /* Set width for images on smaller screens */
      height: 150px; /* Set height for images on smaller screens */
      margin: 0 auto; 

  }


  .learnmore-solar {
    margin-left: 30px;
    width:350px;
    height:300px; /* Adjust margin for smaller screens */
  }


  .experienceAA {
    font-size: 24px; 
   /* Decrease font size for smaller screens */
  }

  .experienceB{
    font-size: 14px;
    margin-top: 40px;
  }
  
  .cost-container,
    .efficient-container,
    .longlife-container {
      width: 45%; /* Full width for benefit containers on smaller screens */
      align-content: center;/* Remove left margin for smaller screens */
    }
}



