
.Home{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    overflow-x: hidden;
    
   
}
@media screen and (min-width: 1000px) {
    .Home{

    
    width: 100%;
    
   
}
}


