/* Default styles for web version */
.solar-discounts {
  position: absolute;
  right: 0;
  top: 100px;
  width: 300px;
  background-color: #efecec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  z-index: 10;
}

.solar-discounts.visible {
  display: flex;
}

.solar-discounts h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -30px;
}

.solar-discounts p {
  font-size: 1.2rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.offer-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.solar-panel-image {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.offer-buttons .round-button {
  background: #ffd700;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  animation: zoomInOut 2s ease-in-out infinite;
  margin-top: 60px;
  margin-left: -80px;
}

@keyframes zoomInOut {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.silver-buttons {
  margin-top: 20px;
}

.silver-button {
  display: block;
  padding: 0px 20px;
  background-color: silver;
  color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
  width: 250px;
  height: 45px;
  margin-top: -4px;
}

.learn-more {
  text-decoration: underline;
  font-size: 20px;
  color: darkblue;
  text-align: center;
  margin-left: 50px;
  margin-top: 12px;
}

/* Toggle button styles */
.toggle-discounts {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .toggle-discounts {
    display: block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }

  .solar-discounts {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 4.65rem;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .solar-discounts {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    margin-top: 20px;
  }
}

/* News page styles */
.news-page {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 110vh;
}

.news-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.news-head span {
  margin-left: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 1000;
  margin-top: -5px;
}

.news-head button,
.archive-toggle,
.pagination a,
.months button,
.read-more {
  cursor: pointer;
  text-decoration: none;
}

.news-head button,
.archive-toggle,
.pagination a {
  border: 2px solid yellow;
  padding: 5px 10px;
  font-size: small;
  font-weight: 500;
}

.archive-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 5rem;
  bottom: 0;
  
  background-color: #edeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-200px);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.archive-container.visible {
  transform: translateX(0);
}

.archive {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 0px;
}

.months button {
  font-size: 1rem;
  padding: 3px 8px;
  background-color: #ffd500;
  color: #002aff;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.archive button:hover {
  background-color: #83baf5;
}

.back-arrow {
  background-color: transparent;
  margin-left: 9rem;
  margin-top: 10px;
}

.back-arrow button {
  border: 1px solid black;
  width: 25px;
}

.news-feed-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  overflow-y: auto;
  padding-bottom: 20px;
  flex: 1;
}

.feed-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: start;
  gap: 50px;
  padding: 20px;
  width: 60vw;
}

.feed-item {
  background-color: #cfcbcb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.feed-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.feed-item h2 {
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: bold;
}

.feed-item p {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  max-height: 100px;
}

.read-more {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  align-self: flex-end;
}

.pagination {
  position: fixed;
  bottom: 10px;
  left: 25px;
  display: flex;
  margin-top: 10px;
  z-index: 10;
}

.pagination a {
  margin-right: 5px;
  color: darkblue;
  padding: 5px 2px;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.arrow-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.arrow {
  color: white;
  font-size: 25px;
  margin-top: -4px;
  font-weight: bold;
}

@media screen and (max-width: 1350px) {
  .feed-items-container {
    width: 50vw;
  }
}

@media screen and (max-width: 1050px) {
  .news-page {
    flex-direction: column;
  }

  .archive {
    top: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .feed-items-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0;
    width: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .feed-items-container {
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    padding: 10px;
  }

  .feed-item {
    width: 90vw;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
  }

  .feed-item h2 {
    font-size: 1rem;
  }

  .feed-item p {
    -webkit-line-clamp: 2;
    max-height: 80px;
  }

  .feed-item img {
    max-height: 150px;
  }
  
}
