.Container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navigationBar {
  display: flex;
  border: 1px solid #5b5b6c;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #fffafa;
  transition: background-color 0.5s ease, height 0.5s ease;
  z-index: 2;
  webkit-backdrop-filter: blur(8px);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navLogin {
  display: flex;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border: solid #040e42 2px;
  border-radius: 5px;
  color: #040e42;
  cursor: pointer;
  transition: transform 0.2s;
}

.navLogin:active {
  background-color: #040e42;
  color: #ffffff;
  transform: scale(1.01);
}

.navLogin:hover {
  background-color: #040e42;
  color: #ffffff;
}

.navigationItems {
  width: 33%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navibuttons {
  position: relative;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  padding: 0.5vw;
  font-size: large;
  color: #000000;
}

.navibuttons:hover {
  background-color: #f2f2f2;
  border-radius: 6px;
}

.naviEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.naviSearch {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 2.25rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 80vw;
}

.menu-button {
  display: flex;
  height: 2rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}
.menu-button:hover {
  border: 1px solid;
}

.dropdown {
  opacity: 1;
  visibility: hidden;
  transform: translateY(-20%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 1.2s ease;
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* .navi.scrolled {
  background-color: transparent;
  height: 0;
  overflow: hidden;
  transition: background-color 0.5s ease, height 0.5s ease;
} */

/* .logo > img {
  width: 5rem;
  margin-bottom: 1rem;
} */

.show-Account {
  color: #171a20;
  border: 2px solid #171a20;
}

.navigation-vertical {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3vh;
  width: 100%;

  background-color: #f2f2f2;
}
.close-button {
  display: flex;
  margin-left: auto;
  margin-right: 2vw;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  border-radius: 5px;
}

.close-button:hover {
  background-color: #e7e6e6;
}

.navi-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5vw;
}

.navi-butt {
  margin-bottom: 2vh;
  color: #171a20;
  padding: 0.25rem;
  border-radius: 10px;
}

.navi-butt:hover {
  margin-bottom: 2vh;
  color: #171a20;
  background-color: #e7e6e6;
}

.account-button {
  margin-left: 6vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border: 2px solid #171a20;
  border-radius: 2rem;
  cursor: pointer;
}
.account-button:hover {
  background-color: #e7e6e6;
}

@media screen and (max-width: 1000px) {
  .navibuttons {
    display: none;
  }
  .naviAccount {
    display: none;
  }
  .naviSearch {
    display: none;
  }
  .menu {
    display: flex;

    justify-content: flex-end;
    width: 2.25rem;
    height: 1.5rem;
    margin-top: 1rem;

    margin-left: 75vw;
  }
  .menu > button {
    display: flex;
    height: 3rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
  }
}
