.slider-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: relative;
}

.slider-image.active {
  visibility: visible;
}

.object-fit-cover {
  object-fit: cover;
  object-position: top;
}

.dots-container {
  position: static;
}

.dot {
  width: 12px; /* Adjust the dot size */
  height: 12px; /* Adjust the dot size */
  border-radius: 50%;
  background-color: white;
  margin: 0 5px; /* Adjust the spacing between dots */
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
