.middle-container {
    width:100%;
    display: flex;
    margin-top: 150px; /* Use flexbox to make the containers inline */
  }
  
  .ImageA-container,
  .textA-container {
   
    /* border: #000000 3px solid; */
    width:50%; /* Equal width for both containers */
  }
  
  /* Additional styles for the containers */
  .ImageA-container {
    width:50%;

  }
  
  .textA-container {
    margin-right: 10px;
    margin-top:100px;
    width:50%;
    margin-left: 150px;
   /* Example background color */
    /* Add other styles as needed */
  }
  .learnmore-solar{

    margin-top:100px;
    margin-left:100px;
    margin-bottom: 100px;
    
   
  }

  .experienceA{
    font-size: 32px;
    font-weight: 540;
    font-family: "Convergence", sans-serif;
  }
  

  .bottom-container{
    display:flex;
    width:100%;
    

  }
  .cost-container,
  .efficient-container,
  .longlife-container{
    width: 20%;
    border:solid 3px black;
    display: inline-block;
    margin-top: 150px;

  }
  .cost-container{
   margin-left:10%;
  }
  .efficient-container{
    margin-left:10%;

  }
  .longlife-container{
    margin-left:10%;
   
  }