.middle-container {
    width:100%;
    display: flex;
    margin-top: 150px; /* Use flexbox to make the containers inline */
  }
  
  .ImageA-container,
  .textA-container {
    width:50%; /* Equal width for both containers */
  }

  .ImageA-container {
    width:50%;

  }
  
  .textA-container {
    margin-right: 10px;
    margin-top:100px;
    width:50%;
    margin-left: 150px;
   /* Example background color */
    /* Add other styles as needed */
  }
  .learnmore-solar{

    margin-top:60px;
    margin-left:100px;
    margin-bottom: 100px;
    
   
  }

  .experienceA {
    font-size: 32px;
    font-weight: 540;
    font-family: "Convergence", sans-serif;
    color: black; /* Initial color */
    transition: color 0.3s ease; /* Add transition effect for color */
}

.experienceA:hover {
  background-color: rgb(238, 241, 156); 
}


  .bottom-container{
    display:flex;
    width:100%;
    margin-top: 40px;
    

  }
  .cost-container,
  .efficient-container,
  .longlife-container{
    border-radius: 15px;
    width: 20%;
    border:solid 1px rgb(153, 150, 150);
    display: inline-block;
    margin-top: 20px;
    padding:30px;
    margin-bottom: 100px;

  }
  .cost-container{
   margin-left:10%;
  }
  .efficient-container{
    margin-left:10%;

  }
  .longlife-container{
    margin-left:10%;
   
  }


  .headof-benifits{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
   
   text-align: center;
   


  }
  .eco-friently{
    font-family:"Convergence", sans-serif;
    color: rgb(182, 147, 6);
    font-size: 22px;
    margin-top: 20px;
    text-align: center;

  }
  .eco-friently-parah{
    text-align: center;
  }


   .past-project-headA{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: center;

   
   }
   .learnmore-solar1 {
    width: 300px;
    height: 240px;
    transition: transform 0.3s ease;
  }
  
  .learnmore-solar1:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }
  

  .learnmore-solar2 {
    width: 300px;
    height: 240px;
    transition: transform 0.3s ease;
  }
  
  .learnmore-solar2:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }

 
  .learnmore-solar4 {
    width: 300px;
    height: 240px;
    transition: transform 0.3s ease;
  }
  
  .learnmore-solar4:hover {
    transform: scale(1.05); /* Increase the scale to zoom in */
  }
  

 

  @media only screen and (max-width: 768px){

    .cost-container,
    .efficient-container,
    .longlife-container {
      width: 40%; /* Full width for benefit containers on smaller screens */
      
    }

    .learnmore-solar1,
    .learnmore-solar2,
    .learnmore-solar4 {
      margin-top: 20px;
      width: 80%; 
      height: 50%; 
      margin: 0 auto; /* Center the images horizontally within their containers */
   
     
      /* Adjust margin for smaller screens */
    }


    .experienceA {
      margin:10px 0;
      font-size: 20px; 
     /* Decrease font size for smaller screens */
    }
    .learnmore-solar {
      margin: 30px 0;
      width:200px;
      height:150px; /* Adjust margin for smaller screens */
    }

    .past-project-headA{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 24px;
      font-weight: 500;
     
      text-align: center;
     
     }
    
    
  }


  
 


@media only screen and (max-width: 1200px){
  .learnmore-solar1,
  .learnmore-solar2,
  .learnmore-solar4{
    width: 250px; /* Set width for images on smaller screens */
    height: 200px; /* Set height for images on smaller screens */
    margin: 0 auto; 

}


.learnmore-solar {
  margin-left: 30px;
  width:350px;
  height:300px; /* Adjust margin for smaller screens */
}


.experienceA {
  font-size: 24px; 
 /* Decrease font size for smaller screens */
}

.experienceB{
  font-size: 14px;
  margin-top: 40px;
}

.cost-container,
    .efficient-container,
    .longlife-container {
      width: 50%; /* Full width for benefit containers on smaller screens */
   
    }
}



