.homepage-intro-text {
  /* scroll-snap-align: center; */
  font-family: "Inter", sans-serif;
  font-weight: 900;
  align-items: center;
  background-color: #040e42;
  color: #ffffff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

/* .intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  align-items: center;
  background-color: #040e42;
} */

.homepage-section > span {
  /* font-size: 4rem; */
}

/* @media screen and (max-width: 1400px) {
  .intro-section > span {
    font-size: 2rem;
  }
} */

/* @media screen and (max-width: 1199px) {
  .intro-section > span {
    font-size: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
} */
