

.admin-panel {
    display: flex;
    flex-direction: row;
  }
  
  .admin-sidebar {
    background-color: #2d3748;
    width: 16rem; 
    padding: 1rem; 
    color: white;
  }
  
  .admin-content {
    padding: 2rem; 
    background-color: white;
    flex: 1;
  }
  
  .admin-tableh {
    font-size: 2rem; 
    font-weight: 500; 
    margin-bottom: 2rem; 
    color: #1a202c; 
    text-align: center; 
  }
  
  @media (max-width: 768px) {
    .admin-panel {
      flex-direction: column;
    }
  
    .admin-tableh {
      font-size: 1.5rem; 
    }
 
    .form-group {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem; 
    }
    
      .form-label {
        font-size: 0.5rem; 
        width: 60%; 
      }
    
      .form-input {
        width: 60%; 
        max-width: 100%; 
        padding: 0.375rem 0.5rem;
      }
    
}
  