.constructions {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100vw;
  background-color: #ffffff;
  padding-top: 10vh;
  padding-bottom: 10vh;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.construction-products {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid;
  border-color: transparent #c4c2c2 transparent transparent;
}

.construction-product {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.construction-product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.construction-product:hover .construction-product-image {
  transform: scale(1.1);
}

.construction-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
  padding-left: 5px;
  padding-right: 5px;
}

.construction-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  padding-left: 5%;
}

.construction-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 90%;
}

.construction-list span {
  cursor: pointer;
}

/* .Coptions > span {
  margin-bottom: 0.5rem;
} */

/* .Cproducts::after {
  content: "";
  align-items: end;
  margin-right: none;
  border-left: 2px solid #000; 
  height: 60%; 
  margin-top: 20px;
  margin-left: 1vw;
  margin-bottom: 20px;
  margin-right: 1vw; 
} */

.show-Account {
  color: #171a20;
  border: 2px solid #171a20;
}

.show-Energy {
  color: #171a20;
}

.Construction-vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  width: 100%;
  background-color: #f2f2f2;
}
/* .c-span {
  margin-top: 3vh;
  margin-left: 5vw;
  font-weight: bold;
} */
.Cproduct-vertical {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.Cproducts-vertical {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: auto;
}

/* Adjust the minmax values and gap based on your design */
@media screen and (max-width: 600px) {
  .Cproducts-vertical {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .c-span {
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 5vw;
    font-weight: bold;
  }
}
